.how-does-it-work {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-template-rows: repeat(3, auto); /* 3 rows with variable height */
  grid-gap: 1.5rem /* gap between cells */
}

@media only screen and (max-width: 1000px) {
    .how-does-it-work{
        display: flex;
        flex-direction: column;
    }
}