.big-referral-code {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.big-referral-code > h3 {
  color: #800080;
  font-weight: 600;
  font-size: 1.3rem;
}

.big-referral-code > div {
  border-radius: 1rem;
  background-image: linear-gradient(to right, #800080 0%, #ff864c 100%);
  box-sizing: border-box;
  padding: 4px;
  text-decoration: none;
}
.big-referral-code > div > p {
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .big-referral-code {
    width: auto;
  }
}
