.enrolled-card {
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 1.3rem;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.enrolled-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enrolled-courses {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.referral-amount>span{
    font-weight: 600;
    font-size: 1.5rem;
}