.enrolled-card {
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 1.3rem;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 20rem;
  min-width: 25rem;
}

.enrolled-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enrolled-courses {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 38%;
  margin-bottom: 1rem;
}

.enrolled-courses::-webkit-scrollbar {
  width: 8px;
}

.enrolled-courses::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeaeae;
}
.referral-amount > span {
  font-weight: 600;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .enrolled-card {
    width: 100%;
  }
}
