.App {
  display: flex;
  flex-direction: column;
  background: #ffff;
  height: 100vh;
  gap: 2rem;
  padding: 1.3rem 3.5rem;
}

@media only screen and (max-width: 1000px) {
  .App {
    padding: 1.3rem 0.5rem;
  }
}
